<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.FilmActorMapper">
	<insert id="insertFilmActor" parameterType="com.example.sakila.vo.FilmActor">
		INSERT
		INTO film_actor(
			actor_id, film_id
		) VALUES (
			#{actorId}, #{filmId}
		)
	</insert>
	
	<delete id="delectFileActor" parameterType="com.example.sakila.vo.FilmActor">
		DELETE
		FROM film_actor
		<where>
			<if test="filmId != null">
				actor_id = #{actorId} 
				AND
				film_id = #{filmId}
			</if>
			<if test="filmId == null">
				actor_id = #{actorId} 
			</if>
		</where>			
	</delete>
	
	<delete id="deleteFilmActorByFilm" parameterType="com.example.sakila.vo.Film">
		DELETE 
		FROM film_actor
		WHERE film_id = #{q}
	</delete>
</mapper>