<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.FilmMapper">
	<select id="selectFilmTitleListByActor" parameterType="int" resultType="com.example.sakila.vo.Film">

		SELECT 
			f.film_id as filmId, 
			f.title as title
		FROM film_actor fa INNER JOIN film f
		ON fa.film_id = f.film_id
		WHERE actor_id = #{a}
		
	</select>
	
	<select id="selectFilmone" parameterType="int" resultType="Map">
		SELECT 
			fi.film_id as filmId, 
			fi.title as title, 
			fi.description as description, 
			fi.release_year as releaseYear, 
			fi.rental_duration as rentalDuration, 
			fi.rental_rate as rentalRate, 
			fi.length as length, 
			fi.replacement_cost as replacementCost,  
			fi.rating as rating, 
			fi.special_features as specialFeatures, 
			fi.last_update as lastUpdate, 
			fi.language_id as languageId, 
			la.name as languageName
		FROM film fi INNER JOIN language la
		ON fi.language_id = la.language_id
		WHERE fi.film_id=#{a}
	</select>
	
	<insert id="insertFilm" parameterType="com.example.sakila.vo.Film">
		INSERT INTO film(title, 
						 description, 
						 release_year, 
						 language_id, 
						 original_language_id,
						 rental_duration,  
						 rental_rate, 
						 length, 
						 replacement_cost, 
						 rating, 
						 special_features
			   )
			   VALUES(#{title}, 
			   		  #{description}, 
			   		  #{releaseYear}, 
			   		  #{languageId}, 
			   		  #{originalLanguageId}, 
			   		  #{rentalDuration}, 
			   		  #{rentalRate}, 
			   		  #{length}, 
			   		  #{replacementCost}, 
			   		  #{rating}, 
			   		  #{specialFeatures} 
			   )
	</insert>
	
	<select id="selectFilmListByTitle" parameterType="String" resultType="com.example.sakila.vo.Film">
		SELECT 
			film_id filmId, title
		FROM film
		WHERE title LIKE CONCAT('%',#{s},'%')
	</select>
	
	
	<select id="selectFilmList" parameterType="Map" resultType="Map">
		SELECT 
			f.film_id filmId
			, f.title title
			, f.description description
			, f.release_year releaseYear
			, f.rental_duration rentalDuration
		    , f.rental_rate rentalRate
		    , f.length length
			, f.rating
			, f.replacement_cost replacementCost
			, fc.category_id categoryId 
		from film f LEFT OUTER JOIN film_category fc
		ON f.film_id = fc.film_id
		<if test="(categoryId != null and categoryId != '') or (searchWord != null and searchWord != '') or (rating != null and rating != '')">
			 <trim prefix="WHERE" prefixOverrides="AND|OR">
				<if test="categoryId != null and categoryId != ''">
					AND fc.category_id = #{categoryId}
				</if>
				<if test="searchWord != null and searchWord != ''">
					AND f.title LIKE CONCAT('%', #{searchWord}, '%')
				</if> 
				<if test="rating != null and rating != ''">
					AND f.rating LIKE #{rating}
				</if>
			</trim>
		</if>
		ORDER BY f.film_id DESC
		Limit #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectTotalRow" parameterType="Map" resultType="int">
		SELECT count(*)
		from film f LEFT OUTER JOIN film_category fc
		ON f.film_id = fc.film_id
		<if test="(categoryId != null and categoryId != '') or (searchWord != null and searchWord != '') or (rating != null and rating != '')">
			 <trim prefix="WHERE" prefixOverrides="AND|OR">
				<if test="(categoryId != null and categoryId != '')">
					AND fc.category_id = #{categoryId}
				</if>
				<if test="(searchWord != null and searchWord != '')">
					AND f.title LIKE CONCAT('%', #{searchWord}, '%')
				</if> 
				<if test="(rating != null and rating != '')">
					AND f.rating LIKE #{rating}
				</if>
			</trim>
		</if>
	</select>
	
	<delete id="deleteFilmByKey" parameterType="Integer">
		DELETE FROM film 
		WHERE film_id = #{q}
	</delete>
	
	<update id="updateFilm" parameterType="com.example.sakila.vo.Film">
		UPDATE 
		<set>
			<if test="title != null">
				title = #{title}
			</if>
			<if test="description != null">
				description = #{description}
			</if>
			<if test="release_year != null">
				release_year = #{releaseYear}
			</if>
			<if test="language_id != null">
				language_id = #{languageId}
			</if>
			<if test="original_language_id != null">
				original_language_id = #{originalLanguageId}
			</if>
			<if test="rental_duration != null">
				rental_duration = #{rentalDuration}
			</if>
			<if test="rental_rate != null">
				rental_rate = #{rentalRate}
			</if>
			<if test="length != null">
				length = #{length}
			</if>
			<if test="replacement_cost != null">
				replacement_cost = #{replacementCost}
			</if>
			<if test="rating != null">
				rating = #{rating}
			</if>
			<if test="special_features != null">
				special_features = #{specialFeatures}
			</if>
		</set>
		WHERE film_id=#{filmId}
	</update>
		
</mapper>